<?xml version='1.1' encoding='UTF-8'?>
<slave>
  <name>worker1</name>
  <description>Worker</description>
  <remoteFS>/home/jenkins/jenkins_home</remoteFS>
  <numExecutors>3</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@2.1010.v64ec48721231">
    <host>jenkins-worker1-task</host>
    <port>22</port>
    <credentialsId>jenkins_jenkins</credentialsId>
    <launchTimeoutSeconds>60</launchTimeoutSeconds>
    <maxNumRetries>10</maxNumRetries>
    <retryWaitTime>15</retryWaitTime>
    <sshHostKeyVerificationStrategy class="hudson.plugins.sshslaves.verifiers.NonVerifyingKeyVerificationStrategy"/>
    <tcpNoDelay>true</tcpNoDelay>
  </launcher>
  <label>workers</label>
  <nodeProperties/>
</slave>